
Library/assetDatabase3
Library/metadata/56/564229857e2ba4b5aa1b1cea0fd1218f
Library/metadata/ee/ee750a1d468434e2184f46f518ae585b
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler0.log
Temp/UnityTempFile-3e78e1851378d4f80b021fa1960a072b
Temp/UnityTempFile-d587b7cccacf448229d1a26594ffa0a0
.vs/DarkGod/xs/sqlite3/storage.ide-wal
